{
  "openapi": "3.1.0",
  "info": {
    "title": "CalEvents Public Data API",
    "version": "1.1.0",
    "description": "Static public data resources for UC Berkeley campus event discovery. Read-only: there are no create, update, or delete operations for events or feed status. Mutations are not supported."
  },
  "servers": [
    {
      "url": "https://cal-events.com"
    }
  ],
  "paths": {
    "/events.json": {
      "get": {
        "summary": "Get the latest normalized event snapshot",
        "operationId": "getEvents",
        "responses": {
          "200": {
            "description": "Current event feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["events", "sources", "lastUpdated"],
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Source"
                      }
                    },
                    "lastUpdated": {
                      "type": "number",
                      "description": "Unix epoch milliseconds for the published snapshot."
                    },
                    "topic_vocabulary": {
                      "$ref": "#/components/schemas/TopicVocabulary",
                      "description": "Published topic vocabulary. Use its slugs to validate topic filters; this API does not repeat them as an enum."
                    },
                    "data_age_hours": {
                      "type": "number",
                      "description": "Hours since the underlying source data was fetched."
                    },
                    "degraded_sources": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "Source ids that were degraded in this snapshot."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/status.json": {
      "get": {
        "summary": "Get ingestion status and source health",
        "operationId": "getStatus",
        "responses": {
          "200": {
            "description": "Current ingestion status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": { "type": "string", "format": "date-time" },
                    "total_events": { "type": "integer" },
                    "fallback_used": { "type": "boolean" },
                    "last_good_used": { "type": "integer" },
                    "data_quality_blocked": { "type": "boolean" },
                    "fallback_sources": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "degraded_sources": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "stale_fallback_sources": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "Source ids whose expired last-good events were dropped from the publish."
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SourceStatus"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search-index.json": {
      "get": {
        "summary": "Get generated search index",
        "operationId": "getSearchIndex",
        "responses": {
          "200": {
            "description": "Generated search index",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Event": {
        "type": "object",
        "required": [
          "id",
          "title",
          "organizer",
          "date",
          "time",
          "location",
          "description",
          "tags",
          "url"
        ],
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "organizer": { "type": "string" },
          "date": { "type": "string", "format": "date" },
          "time": { "type": "string" },
          "location": { "type": "string" },
          "description": { "type": "string" },
          "tags": {
            "type": "array",
            "items": { "type": "string" }
          },
          "topics": {
            "type": "array",
            "maxItems": 3,
            "items": { "type": "string" },
            "description": "Zero to three topic slugs from the published topic_vocabulary; independent of tags[0]."
          },
          "url": { "type": "string", "format": "uri" },
          "source": { "type": "string" }
        }
      },
      "Source": {
        "type": "object",
        "required": ["title", "uri"],
        "properties": {
          "title": { "type": "string" },
          "uri": { "type": "string", "format": "uri" }
        }
      },
      "TopicVocabulary": {
        "type": "object",
        "required": ["version", "topics"],
        "properties": {
          "version": { "type": "integer" },
          "topics": {
            "type": "array",
            "description": "The source of truth for valid topic filter slugs.",
            "items": { "$ref": "#/components/schemas/TopicDefinition" }
          }
        }
      },
      "TopicDefinition": {
        "type": "object",
        "required": ["slug", "label", "group", "synonyms"],
        "properties": {
          "slug": { "type": "string" },
          "label": { "type": "string" },
          "group": { "type": "string", "enum": ["fields", "interests"] },
          "synonyms": { "type": "array", "items": { "type": "string" } }
        }
      },
      "SourceStatus": {
        "type": "object",
        "required": ["name", "ok", "count", "duration_ms", "fetched_at"],
        "properties": {
          "name": { "type": "string" },
          "ok": { "type": "boolean" },
          "count": { "type": "integer" },
          "duration_ms": { "type": "integer" },
          "fetched_at": { "type": "string", "format": "date-time" },
          "error": { "type": "string" },
          "degraded": { "type": "boolean" },
          "fallback_used": { "type": "boolean" },
          "fallback_count": { "type": "integer" },
          "fallback_age_hours": { "type": "number" },
          "fallback_expired": { "type": "boolean" },
          "degraded_reason": { "type": "string" }
        }
      }
    }
  }
}
